/*Nav Bar Styling*/
.nav_bar{
    display:flex;
    color:grey;
    align-self:flex-end;
    justify-content: space-between;
    padding:1vh 5vw 0;
    align-items:flex-end;
    align-content:flex-end;
    flex-wrap:wrap;
    margin-bottom: 10vh;
}
/* Coloring and removal of underlines on navbar links*/
.nav_bar a{
    font-family:sans-serif;
    text-decoration: none;
    color:black;
}
/* Coloring on buttons*/
.nav_bar .btn-outline-primary{
    color:0314FE;
}
.nav_bar .btn-primary{
    color:white
}
/* Changes NavBar list items to horizonta;*/
.nav_bar li{
    display:inline-block;
    padding:0 1vw 0 1vw;
}
/* End Nav Bar */

/* Header Styling*/
.header_right img{
    max-height:90%;
    max-width:90%;
    display:block;
    margin-left:auto;
    margin-right:0;
  }
  .header_left h1{
      font-weight:bold;
      padding-top:1vh;
      font-size:4rem;
  }
  .header_left span{
      padding-top:1vh
  }
  .header_left p{
      padding-top:1vh;
      color:grey;
      font-size:1rem;
  }
  /*end of header styling*/

/* How it Works and First Lorem Text*/

#lorem1{
    border-top: solid grey 1px;
    margin: 10vw 24.5vw 0 24.5vw;
    padding: 3vw;
    text-align: center;
}
#lorem1 h4{
    font-weight: bold;
    font-size:1.8vw;
}

/* Collect Useful Info Container */

/* the whole container */
.collect{
    display: flex;
    flex-direction: row;
    margin: 1.8vw 12vw 10vw 12vw;
}
/* left side of container */
.collect-left{
    width:40%;
    border: 1px solid grey;
    border-radius: 1rem 0rem 0rem 1rem;    
}
/* container image */
.collect-img{
    width: 90%;
    margin: 25% 0 35% 0;
}
/* right side of container */
.collect-right{
    width:60%;
    padding-left: 2vw;
    border: 1px solid grey;
    border-radius: 0rem 1rem 1rem 0rem;    
    background-color: #0314FE;
}
.collect-right h4{
    margin: 15% 0 15% 20%;
    font-size: 1.8vw;
}
.collect-right p{
    margin-left: 5%;
    font-size: 1.3vw;
    font-weight:600;
}

/* Second Lorem Text */
#lorem2{
    margin: 10vw 24.5vw 1.5vw 24.5vw;
    padding: 3vw;
    text-align: center;
}
#lorem2 h4{
    font-weight: bold;
    font-size:1.8vw;
}

/* Get Paid Sooner Container */

/* the whole container */
.get-paid{
    display: flex;
    flex-direction: row;
    margin: 3vw 12vw 8vw 12vw;
}
/* left side of container */
.get-paid-left{
    width:40%;
    padding: 2vw 2vw;   
}
/* container image */
.get-paid-img{
    width: 85%;
    margin: 2.3vw 0;
}
/* right side of container */
.get-paid-right{
    width:60%;
    border: 1px solid grey;
    border-radius: 0rem 1rem 1rem 0rem;    
    background-color: #0314FE;
}
.get-paid-right h2{
    text-align: center;
    margin: 6vw 0;
    font-size:2.2vw;
}
.get-paid-right p{
    margin-left: 5%;
    margin-right: 1.1vw;
    font-size:1.1vw;
}


/* Footer Style*/

.footer-row{
    background-color: rgba(18 64 238);
    color: white;
    margin: auto 0vw;
    

}
.container-footer{
    text-align: center;
    padding: 2vh 0 8vh 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    

}
.get-started{
    background-color: rgba(118 206 61);
    color: white;
    border-radius: 6px;
    border: none;
    text-align: center;
    padding: .6vh 1vw;
    max-width: 30vw;
}
.footer-buttons{
    padding: 0 18vw;
    display: flex;
    justify-content: space-around;

    
}
.chat-with-us{
    color: rgba(18 64 238);
    border-color: white;
    border-radius: 9px;
    border: none;
    text-align: center;
    padding: .6vh 1vw;
    max-width: 30vw;
}
.footer-dot-line{
    margin-top: 1vw;
    font-size: 13px;
    
}
#lets-get-started{
    font-size: 17px;
}