/*Nav Bar Styling*/
.nav_bar{
    display:flex;
    color:grey;
    align-self:flex-end;
    justify-content: space-between;
    padding:1vh 5vw 0;
    align-items:flex-end;
    align-content:flex-end;
    flex-wrap:wrap;
    margin-bottom: 10vh;
}
/* Coloring and removal of underlines on navbar links*/
.nav_bar a{
    font-family:sans-serif;
    text-decoration: none;
    color:black;
}
/* Coloring on buttons*/
.nav_bar .btn-outline-primary{
    color:0314FE;
}
.nav_bar .btn-primary{
    color:white
}
/* Changes NavBar list items to horizonta;*/
.nav_bar li{
    display:inline-block;
    padding:0 1vw 0 1vw;
}
/* End Nav Bar */

/* Header Styling*/
.header_right img{
    max-height:90%;
    max-width:90%;
    display:block;
    margin-left:auto;
    margin-right:0;
  }
  .header_left h1{
      font-weight:bold;
      padding-top:1vh;
      font-size:4rem;
  }
  .header_left span{
      padding-top:1vh
  }
  .header_left p{
      padding-top:1vh;
      color:grey;
      font-size:1rem;
  }
  /*end of header styling*/

/* Footer Style*/

.footer-row{
    background-color: rgba(18 64 238);
    color: white;
    margin: auto 0vw;
    

}
.container-footer{
    text-align: center;
    padding: 2vh 0 8vh 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    

}
.get-started{
    background-color: rgba(118 206 61);
    color: white;
    border-radius: 6px;
    border: none;
    text-align: center;
    padding: .6vh 1vw;
    max-width: 30vw;
}
.footer-buttons{
    padding: 0 18vw;
    display: flex;
    justify-content: space-around;

    
}
.chat-with-us{
    color: rgba(18 64 238);
    border-color: white;
    border-radius: 9px;
    border: none;
    text-align: center;
    padding: .6vh 1vw;
    max-width: 30vw;
}
.footer-dot-line{
    margin-top: 1vw;
    font-size: 13px;
    
}
#lets-get-started{
    font-size: 17px;
}