/*Nav Bar Styling*/
.nav_bar{
    display:flex;
    color:grey;
    align-self:flex-end;
    justify-content: space-between;
    padding:5vh;
    align-items:baseline;
    flex-wrap:wrap;

}
.nav_bar a{
    font-family:sans-serif;
    text-decoration: none;
    color:grey;
}

.nav_bar .btn-outline-primary{
    color:blue;
}
.nav_bar .btn-primary{
    color:white
}

.nav_bar li{
    display:inline-block;
    padding:0 1vw 0 1vw;
}