/*Nav Bar Styling*/
.nav_bar{
    display:flex;
    color:grey;
    align-self:flex-end;
    justify-content: space-between;
    padding:0 5vw;
    align-items:center;
    flex-wrap:wrap;
    margin-bottom: 10vh;
}
.nav_bar a{
    font-family:sans-serif;
    text-decoration: none;
    color:grey;
}
.nav_bar a:hover{
    text-decoration:underline;
}
.nav_bar li{
    display:inline-block;
    padding:0 1vw 0 1vw;
}
#payments{
    background-color: blue;
    align-items: center;
    border-radius: 25px;
    
}
#payments img{
    display: block; 
    margin: 2vw auto; 
    text-align: center;
}
#retain{ 
    margin: 0 auto;
    align-items: center;
    border-style: solid;
    border-radius: 2vw;

}

#retain img{
    display: block; 
    margin: 2vw auto; 
    text-align: center;

}
p.centered {
    
    text-align: center;
}