html{
    font-family:sans-serif
}

/*Nav Bar Styling*/


a{
    display:block;
    text-decoration: none;
}
.container{
    margin-top: 1.6rem;
}
.nav_bar{
    max-width: 100%;
    height: 4.4rem;
    display:flex;
    padding: 0 2rem;
    list-style: none;
    color:grey;
    justify-content: space-between;
    padding:1vh 5vw 0;
    align-items:flex-end;
    align-content:flex-end;
    flex-wrap:wrap;
    margin-bottom: 10vh;
}
.nav_bar a{
    list-style: none;
    text-decoration: none;
    color:black;
}

.nav_bar .btn-outline-primary{
    color:blue;
}
.nav_bar .btn-primary{
    color:white
}


.nav_bar li{
    display:inline-block;
    padding:0 1vw 0 1vw;
}

#payments{
    background-color: blue;
    align-items: center;
    border-radius: 25px;
    
}
#payments img{
    display: block; 
    margin: 2vw auto; 
    text-align: center;
}
#retain{ 
    margin: 0 auto;
    align-items: center;
    border-style: solid;
    border-radius: 2vw;

}

#retain img{
    display: block; 
    margin: 2vw auto; 
    text-align: center;

}
p.centered {
    
    text-align: center;
    padding:0 2vw 0 2vw;
}

.row-1{
    display:flex;
}

.accept-pay-img{
    max-width: auto;
    max-height: 18rem;
    margin-top: auto;
    margin-bottom: auto;
}
.accept-pay{
    background-size: cover;
    height: 36rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.accept-pay-background{    
    background: cover;
    width: 35rem;
    background-color: blue;
}

.title-accept-pay{
    font-size: 25px;
    text-align: left;
    margin-left: 3rem;
    color: #000;    
}
.text-light{
    margin-top: 3rem;
    margin-bottom: 2.6rem;
    /* margin-left: 1rem; */
}
.acceptlist{
    margin-left: 1.6rem;
    color: #fff;
    
}

.accept-btn{
    margin-left: 1.6rem;
}