/*Nav Bar Styling*/
/* *,
*::before,
*::after{
    margin: 0;
    padding: 0;
} */
html{
    font-size: 12px;
    font-family: sans-serif;
}

a{
    display:block;
    text-decoration: none;
}

.nav_bar{
    max-width: 100%;
    height: 4.4rem;
    display:flex;
    padding: 0 2rem;
    list-style: none;
    color:grey;
    justify-content: space-between;
    align-items:center;
    margin: 0 -1rem;
    margin-top: 1rem;
    font-size: 1.6rem;
    backdrop-filter: blur(2rem);
}
.nav_bar a{
    list-style: none;
    text-decoration: none;
    color:grey;
}
.nav_bar a:hover{
    text-decoration:underline;
}
.nav_bar li{
    display:inline-block;
    padding:0 1vw 0 1vw;
}
.container{
    margin-top: 2rem;
    border-radius: 33rem;
}
.focus-bis{
    width: 33rem;
    height: 25rem;
    display: inline;
    border-style: none;
    
}
.text{
    color: rgb(0, 0, 0);
    font-size: smaller;
    padding-top: 1.6rem;
    
}
.card{
    border-style: none;
}
.bt-move{
    max-width: 33rem;
    display: inline;
    justify-content: center;  
}
.bt-move-sub{
    display: block;
    justify-content: center;
    /* margin-left: -.4rem; */
}
.focus-p{
    text-align: center;
}