/*Left side of the page*/
.btn-primary{
    margin-top:1vh;
    color:white;
    background-color:#0314FE;
    border: solid white;
    border-radius:100;
}
.left{
    align-items:center;
    justify-content: center;
    text-align:center;
    padding-top:5vh;
}
.form-group{
    padding:1vh;
}

/*Right side of the page*/
.right img{
    max-width:100%;
    max-height:100%;
}
